<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Calculator</title>
    <link rel="stylesheet" href="/Public/CSS/CSS/calc.css">
</head>
<body>
    <body>
        <header>
          <a href="/Templates/HTML/HTML/voorblad.html" class="logo"> START</a>
          <ul>
            <li><a href="/Templates/HTML/HTML/aboutMe.html">About me</a></li>
            <li><a href="/Templates/HTML/PHP/contacts.php">Contacts</a></li>
            <li><a href= "/Templates/HTML/HTML/myHobbies.html">My hobbies</a></li>
            <li><a href="/Templates/HTML/HTML/myProjects.html">My projects</a></li>
          </ul>
        </header>
        <section class="banner"><h1>calculator</h1><section>
            <div class="container">
                <div id="display"></div>
                <div class="buttons">
                    <div class="button">C</div>
                    <div class="button">/</div>
                    <div class="button">*</div>
                    <div class="button">&larr;</div>
                    <div class="button">7</div>
                    <div class="button">8</div>
                    <div class="button">9</div>
                    <div class="button">-</div>
                    <div class="button">4</div>
                    <div class="button">5</div>
                    <div class="button">6</div>
                    <div class="button">+</div>
                    <div class="button">1</div>
                    <div class="button">2</div>
                    <div class="button">3</div>
                    <div class="button">.</div>
                    <div class="button">(</div>
                    <div class="button">0</div>
                    <div class="button">)</div>
                    <div id="equal" class="button">=</div>
                </div>
            </div>
        </section></section>
        <script>type="text/javascript">
        window.addEventListener("scroll", function(){
          let header =document.querySelector("header");
          header.classList.toggle("sticky", window.scrollY > 0)
        } )</script>
    
    
    <script src="/Public/CSS/JS/calc.js"></script>
</body>
</html>