<!DOCTYPE html>
<html lang="en">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  


    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/Public/CSS/CSS/job.css">
    <title>portfolio nieuw</title>
    </head>

    <body>
      <header>
        <a href="/Templates/HTML/HTML/voorblad.html" class="logo"> START</a>
        <ul>
          <li><a href="/Templates/HTML/HTML/aboutMe.html">About me</a></li>
          <li><a href="/Templates/HTML/PHP/contacts.php">Contacts</a></li>
          <li><a href="/Templates/HTML/HTML/myHobbies.html">My hobbies</a></li>
          <li><a href="/Templates/HTML/HTML/myProjects.html">My projects</a></li>
        </ul>
      </header>
      <section class="banner"></section>
      <script>type="text/javascript">
      window.addEventListener("scroll", function(){
        let header =document.querySelector("header");
        header.classList.toggle("sticky", window.scrollY > 0)
      } )</script>

      <div class="container">
<div class="text 1">
<h1>Questions I asked a local web architect</h1>
<a>A web architect is someone who makes websites and makes them save </a>
<br>
<br>
</div>
<div class="text 2">
<h2>What coding programs do you prefer for making sites</h2>
<br>
<p>For making sites I prefer to use c++<br>
    because it is easy to add extencions and it is really popular.
    <br>
    <br>
    <br>
    <br>
    And because it is such a popular program I can find a lot of information <br>
    about it online and if I can't find it there will be a lot of people that can help me<br>
    with what I need and.
    <br>
    <br>
    <br>
    <br>
    It is very important to learn html css and javascript as srarters because it makes <br>
    the rest of youre coding journey a lot easier. a lot of the other coding languages<br>
    have some simmilairities between them.
    <br>
    <br>
    <br>
    <br>
    Python is also a very good coding languagr. it has a lot of short cuts<br>
    and makes coding a lot easier.
    <br>
    <br>
    <br>
    <br>
    <h3>How do you start making a site</h3>
    <br>
    I first need to find someone that wants a site that could be easy or hard<br>
    it really depends on how populair you are. If you are new to the site making<br>
    business it will be pretty hard to find a client that is interested.
    <br>
    <br>
    <br>
    <br>
    You will have to call a lot of small businesses until you find someone that is interested<br>
    After you find youre client you will have to talk to him about what he does and doesn't want<br>
    on the site if you have thr information you need you will make a scrum board so you can
    <br>
    <br>
    <br>
    <br>
    keep trak of where you are. when you are done with making everything you have on the<br>
    scrum board you will send it to him. the price is different for every client because <br>
    some people want a very specific site and some people could not care less.
            </p>
        </div>
    </div> 
</body>